#Ignore temp and swp files
*~
*.swp
*.tmp

# Ignore bower components and npm modules
war/app/components
node_modules

# Ignore temp directory and file
temp
.sass-cache
npm-debug.log
.grunt

# OSX Ignore
.DS_Store
.AppleDouble
.LSOverride

