//
// Variables
// --------------------------------------------------

// Typography
// -------------------------
$sans-font-family:     "Lucida Grande", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif !default;
$alt-sans-font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif !default;

$base-font-size:          14px !default;
$base-font-family:        $sans-font-family !default;
$base-line-height:        20px !default;
