@import 'compass/css3/transition';
@import 'compass/css3/border-radius';
// @import 'http://fonts.googleapis.com/css?family=Merriweather|Open+Sans';

@import 'normalize.css';
@import 'solarized-light.css';
@import 'icons';
@import 'base';
@import 'nav';
@import 'post';
@import 'markdown';
@import 'pocketgrid';
@import 'projects';
@import 'variables';


// body {
//   font-family: $base-font-family;
// }

nav,
.nav-links {
  background: #2980b9;
}

.about {
  h1 {
      text-align: center;
  }

  .json {
    display: table;
    margin: 0 auto;

    .tag {
      font-size: 2em;
      font-weight: bold;
    }
    table {
      margin-left: 3em;
    }
    td {
      font-size: 1.22em;
      color: #2980b9;
      height: 50px;
    }
    .field-value {
      padding-left: 20px;
      color: #d50164;
      font-size: 1.33em;
    }
    .field-twitter {
      text-decoration: none;
      color: #d50164;
    }
  }
}

.img-me {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.img-circle {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

hr.style-eight {
  padding: 0;
  margin: 2em 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
