extends ../layouts/base

block content
  div.about
    h1
      img.img-circle.img-me(src='/images/me.jpg')
      span
        | Fizer Khan
    .post-body
      div.json
        p.tag {
        table
          tr.field
            td.field-name.
              name:
            td.field-value.
              "Fizer Khan",
          tr.field
            td.field-name.
              location:
            td.field-value.
              "Chennai, India",
          tr.field
            td.field-name.
              twitter:
            td.field-value.
              "<a class="field-twitter" href="https://www.twitter.com/fizerkhan">@fizerkhan</a>",
          tr.field
            td.field-name.
              job:
            td.field-value.
              "<a class="field-twitter" href="https://www.atatus.com">Web Developer at Atatus</a>",
          tr.field
            td.field-name.
              likes:
            td.field-value.
              [ "Node.js", "AngularJS"]
        p.tag }



