extends ../layouts/base

block content
  h1 Projects
  p.subtitle.
    I love building mobile apps and web sites. I built few interesting android
    apps using <a href="http://ionicframework.com/" target="_blank">Ionic Framework</a>.

  .block-group
    .block.b1
      h2
        a.project-title(href="https://play.google.com/store/apps/details?id=com.fizerkhan.magicshade", target="_blank") Magic Shade Game
      p.
        Magic Shade is a Free Mobile Puzzle Color Game.
      p.
        Become a color expert! A puzzle game that will challenge your ability to distinguish shade colors. Simply try to spot the shade on each time, as it progresses to the next level the shades and shapes get lighter and harder every time!
      p
        a(href="https://play.google.com/store/apps/details?id=com.fizerkhan.magicshade", target="_blank") Download on Google Play
    .block.b2
      img(src="/images/magicshade.png")

  .block-group
    .block.b1
      h2
        a.project-title(href="https://play.google.com/store/apps/details?id=com.fizerkhan.lolers", target="_blank") LOLers
      p.
        LOLers has the best Funny Picture and Photo Comments that you can share in social media app.
      p.
        Have you laughed today? Get your daily dose of humour from Funny Images.
        Share your fun to Facebook, Twitter, Email, Google+, Tumblr, Pinterest, Instagram, Path, WhatsApp, Line, WeChat and Weibo.
      p
        a(href="https://play.google.com/store/apps/details?id=com.fizerkhan.lolers", target="_blank") Download on Google Play
    .block.b2
      img(src="/images/lolers.png")

  .block-group
    .block.b1
      h2
        a.project-title(href="https://play.google.com/store/apps/details?id=com.fizerkhan.chennaimarket", target="_blank") Chennai Market
      p.
        ChennaiMarket is an android app that helps you to find out the live market price for vegetables, fruits, gold, silver, petrol and diesel in Chennai city.
      p.
        Before buying above items, you can ensure that you are not paying more for items. If you are a seller, you can decide what is an appropriate price to sell items.
      p
        a(href="https://play.google.com/store/apps/details?id=com.fizerkhan.chennaimarket", target="_blank") Download on Google Play
    .block.b2
      img(src="/images/chennai-market.png")

  .block-group
    .block.b1
      h2
        a.project-title(href="https://play.google.com/store/apps/details?id=com.fizerkhan.thirukural", target="_blank") Thirukural
      p.
        <a href="http://en.wikipedia.org/wiki/Tirukku%E1%B9%9Ba%E1%B8%B7" target="_blank">Thirukural</a> with meanings in both Tamil and English, but without ads :).
      p.
        There are already couple of Thirukural android app in the Google Play.
        All of them are focusing on searching of kurals. But in reality, no one wants to search kurals.
      p.
        Everyone wants to open an app in the leisure time and learn some interesting kurals.
        We built this app with the goal of learning one kural every day with the single down swipe.
      p.
        Just <strong>Swipe down</strong> to get a new interesting kural.
      p
        a(href="https://play.google.com/store/apps/details?id=com.fizerkhan.thirukural", target="_blank") Download on Google Play
    .block.b2
      img(src="/images/thirukural.png")
