extends ../layouts/base

block content
  h1 Projects
  p.subtitle.
    I love building web sites and mobile apps. I built few interesting android
    apps using <a href="http://ionicframework.com/" target="_blank">Ionic Framework</a>.

  .block-group
    .block.b1
      h2
        a.project-title(href="https://play.google.com/store/apps/details?id=com.fizerkhan.lolers", target="_blank") LOLers
      p.
        LOLers is an android app that allows you to quickly choose from thousands of Funny Picture Comments that we’ve collected for you. You can share the funny pictures in any social media app. Start bringing smile on your friends' and family members' face.
      p
        a(href="https://play.google.com/store/apps/details?id=com.fizerkhan.lolers", target="_blank") Download on Google Play
    .block.b2
      img(src="/images/lolers.png")

  .block-group
    .block.b1
      h2
        a.project-title(href="https://play.google.com/store/apps/details?id=com.fizerkhan.chennaimarket", target="_blank") Chennai Market
      p.
        ChennaiMarket is an android app that helps you to find out the live market price for vegetables, fruits, gold, silver, petrol and diesel in Chennai city. Before buying above items, you can ensure that you are not paying more for items. If you are a seller, you can decide what is an appropriate price to sell items.
      p
        a(href="https://play.google.com/store/apps/details?id=com.fizerkhan.chennaimarket", target="_blank") Download on Google Play
    .block.b2
      img(src="/images/chennai-market.png")

  .block-group
    .block.b1
      h2
        a.project-title(href="https://play.google.com/store/apps/details?id=com.fizerkhan.nomorebusinesscard", target="_blank") NO MORE BUSINESS CARD
      p.
        Don't ask for business cards whenever you meet people. I know you already have hundreds of business card in your office's desk or home shelf.  Instead of hundreds of business cards, immediately connect with people.
      p.
        Just add their email, where you met, and send a customised introduction in seconds!
      p
        a(href="https://play.google.com/store/apps/details?id=com.fizerkhan.nomorebusinesscard", target="_blank") Download on Google Play
    .block.b2
      img(src="/images/no-more-business-card.png")
